@import "./../../../styles/variables";

.checkbox {
  display: flex;
  border-color: $primary-1;
  height: 24px;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;

  &__control {
    width: 18px;
    height: 18px;
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  &__icon {
    display: flex;
    width: 18px;
    height: 18px;
    border: 1px solid $primary-1;
    background-color: $mono-1;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
  }

  &__label {
    font-size: 14px;
    color: $mono-0;
  }
}
